/*Estilos generales*/
*{
    padding: 0px;
    margin: 0px;
}
html{
    min-height: 100%;
}
body{
  flex-direction: column;
  height:100vh;
}
/*Estilos cabecera*/
header{
    height: 10%;
    width: 100%;
    display: block;
    background-color: #68141C;
}
/*contenedor del header*/
 #cabecera{
    position: relative;
    margin-top: auto;
    display: flex;
    padding: 0 auto;
    color: #fff;
 }
 #cabecera h3{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
 }
/*imagen dentro del header*/
#cabecera img{
    width: 5%;
    left: 15px;
}
/*Boton dentro del header*/
#cabecera button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
    background-color: #68141C;
    border-radius: 30px;
    color: #fff;
    font-size: 1.2em;
    padding: 0 0.5rem;
}

#cabecera button img{
    width: 50%;
    inline-size: 50px;
}


/*Estilos del mapa*/
#pantalla_mapa{
width: 100%;
height: 90%;
position: relative;
}
/*Estilos clase buscador*/
.buscador{
    position: absolute;
    z-index: 1;
}

/*Estilos clase botones*/
.botones{
    position: absolute;
    z-index: 1;
}
/*--------------------------------------------------------------------*/
/*Estilo del boton de cambio de pantalla: mapa-horarios*/
#cambia_MapaHorario{
    position: absolute;
    bottom: 10px;
    left: 5%;
    bottom: 5%;
    width: 100%;
    margin: 0 auto;
}

#cambia_MapaHorario button{
    font-size: 1.2em;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #68141C;
    color: #fff;
}
/*--------------------------------------------------------------------*/

/*Estilo del navegador de pisos*/
.navegador{
    position: absolute;
    z-index: 1;
    right: 1rem;
    bottom: 5rem;
}

/*Estilo de los botones de los pisos*/
.navegador button{
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    display: block;
}
/*Estilo de los botones de zoom*/
.zoom{
    position: absolute;
    z-index: 1;
    right: 1rem;
    bottom: 1.2rem;
}
/*Estilo de los botones de los pisos*/
.zoom button{
    width: 30px;
    height: 30px;
    font-size: 1em;
}
/*Estilo boton mostrar info*/
#mostrarInfo{
    position: absolute;
    width: 80px;
    height: 70px;
    z-index: 1;
    bottom: 50%;
    right: 50%;
}
/*Estilo del boton ára cambiar de pantalla de mapa a horarios*/
#cambia_horarioMapa button{
    height: 30px;
    width: 80px;
}

/*Estilo buscador dentro de la pantalla mapa*/
.buscador{
    padding-top: 10px;
    padding-left: 10px;
}
/*Estilo barra de busqueda dentro de buscador*/
.buscador input{
    /* height: 20px;
    padding-left: 10px; */
}

/*Estilos ventana emergente*/
.ventana {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.contenido_ventana {
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cerrar {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 40px; 

}
table {
    width: 100%; 
    font-size: 150%;
    table-layout: fixed; 
}

/* BARRA DE BÚSQUEDA */
#searchResults{
    margin-top: 60px;
    position: absolute;
    z-index: 2;
}

#searchResults li {
    background-color: white;
    padding: 7px 2px 7px 2px;
    list-style-type: none;
    border: 2px solid;
}

#searchResults li:hover {
    background-color: rgb(49, 214, 115);
}

#searchResults a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

table {
    width: 100%; 
    font-size: 100%;/*Antes estaba en 150%*/
    table-layout: fixed; 
}

/* Estilo para la tabla de horarios */
.tabla-horarios {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Ancho máximo deseado de la ventana de horarios */
    max-height: 80%; /* Altura máxima deseada de la ventana de horarios */
    overflow: auto; /* Agrega barras de desplazamiento si es necesario */
    background-color: white;
    padding: 20px;
    border: 2px solid cadetblue;
    z-index: 2; /* Asegura que la ventana esté por encima del mapa */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Agrega sombra */
}

/* Añade estilos adicionales a la tabla, si es necesario */
.tabla-horarios table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-horarios th, .tabla-horarios td {
    padding: 8px;
    text-align: center;
}

.tabla-horarios th {
    background-color: cadetblue;
    color: white;
}

.tabla-horarios tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-horarios tr:hover {
    background-color: #ddd;
}

.tabla-horarios button {
    height: 30px;
    width: 80px;
    margin-top: 10px;
}

/*Estilos para mostrar las rutas*/

/* Establece un estilo para el contenedor principal */
#ruta {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
    background-color: #FFF7E7;
}

#central{
    display: flex;
    height: 75%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: #68141C;
    width: 60%;
}

#central button{
    height: 100%;
    width: 3%;
}
#central img{
    height: 100%;
    width: 97%;
}


/**/
#aceptar {
    position: absolute;
    bottom: 3%;
    right: 50%;
    transform: translate(50%,0);
}

#aceptar button{
    position: relative;
    font-size: 1.2em;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #68141C;
    color: #fff;
}