/*Estilos generales*/
*{
    padding: 0px;
    margin: 0px;
}
html{
    min-height: 100%;
}
body{
  flex-direction: column;
  height:100vh;
}
/*Estilos cabecera*/
header{
    height: 10%;
    width: 100%;
    display: block;
    background-color: #68141C;
}
/*contenedor del header*/
 #cabecera{
    position: relative;
    margin-top: auto;
    display: flex;
    padding: 0 auto;
    color: #fff;
 }
 #cabecera h3{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
 }
/*imagen dentro del header*/
#cabecera img{
    width: 5%;
    left: 15px;
}

/*Boton dentro del header*/
#cabecera button{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
    background-color: #68141C;
    border-radius: 30px;
    color: #fff;
    font-size: 1.2em;
    padding: 0 0.5rem;
}

#cabecera button img{
    width: 50%;
    inline-size: 50px;
}

/*Estilos del mapa*/
#pantalla_mapa{
width: 100%;
height: 90%;
position: relative;
}


/*Estilos clase buscador*/
.buscador{
    margin-left: 1.5em;
    margin-top: 1.5em;
    position: absolute;
    width: 20%;
    z-index: 1;
}
/*Estilos clase botones*/
.botones{
    position: absolute;
    z-index: 1;
}
/*--------------------------------------------------------------------*/
/*Estilo del boton de cambio de pantalla: mapa-horarios*/
#cambia_MapaHorario{
    position: absolute;
    bottom: 10px;
    left: 5%;
    bottom: 5%;
    width: 100%;
    margin: 0 auto;
}

#cambia_MapaHorario button{
    font-size: 1.2em;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #68141C;
    color: #fff;
}
/*--------------------------------------------------------------------*/

/*Estilo del navegador de pisos*/
.navegador{
    position: absolute;
    z-index: 1;
    right: 1rem;
    bottom: 5rem;
}
/*Estilo de los botones de los pisos*/
.navegador button{
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    display: block;
}


/*Contenedor de los botones de salon*/
.botones_salon{
    position: absolute;
    z-index: 1;
    right: 50%;
    bottom: 50%;
}

/*Estilo boton salón 105,106*/
.botones_salon button{
    display: block;
    width: 5rem;
    height:5rem;
    z-index: 1;
    font-size: 3em;
}

/*Estilo del boton Vista Horario*/
#vista_horario{
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 50px;
    cursor: pointer;
    border-radius: 5px; /* Ajusta el valor para bordes menos redondeados */
    border: 1px solid black;
    position: relative;
    bottom: 55px;
    left: 10%;
    font-size: 100%;
    width: 7%;
    height: 20%;
}
/*Estilo buscador dentro de la pantalla mapa*/
.buscador{
    padding-top: 10px;
    padding-left: 10px;
}
/*Estilo barra de busqueda dentro de buscador*/
.buscador input{
    /* height: 20px;
    padding-left: 10px; */
}
/*Estilos ventana emergente*/
.ventana {
    display: none;
    position: fixed;
    top: 21%;
    left: 2em;
    width: 20%;
    max-height: 70%; /* Altura máxima deseada de la ventana emergente */
    overflow: auto; /* Agrega barras de desplazamiento si es necesario */
    z-index: 1;
    background-color: #ddd;
}
.ventana_horarios {
    background-color: #FFF7E7;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    padding: 20px;
    text-align: center;
}
.cerrar {
    position: absolute;
    right: 2px;
    cursor: pointer;
    font-size: 35px; 
    background-color: white;
    border-color: #68141C;
}
table {
    width: 100%; 
    font-size: 150%;
    table-layout: fixed; 
}
/* BARRA DE BÚSQUEDA */
#searchResults{
    margin-top: 75px;
    position: absolute;
    z-index: 2;
}
#searchResults li {
    width: 13em;
    background-color: white;
    padding: 7px 2px 7px 10px;
    list-style-type: none;
    border-radius: 3%;
    border: 1px solid #888888;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
#searchResults li:hover {
    background-color: #a13641;
    transition: background-color 0.3s ease;
}
#searchResults a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}


table {
    width: 100%; 
    font-size: 100%;/*Antes estaba en 150%*/
    table-layout: fixed; 
}
/*Cabecera info salón*/
.cabecera_salon {
    background-color: #68141C;
    color: white;
    text-align: left;
    padding-left: 10%;
    width: 100%;
    height: 100%;
    font-size: 30px; /* Tamaño de fuente más grande para la cabecera */
}
/* Estilo para la tabla de info de salón */
.tabla_infosalon {
    max-height: 200px; 
    overflow-y: auto; 
    border-collapse: collapse; 
    width: 100%; 
}
/* Añade estilos adicionales a la tabla, si es necesario */
.tabla-horarios table {
    width: 100%;
    border-collapse: collapse;
}
.tabla-horarios th, .tabla-horarios td {
    padding: 8px;
    text-align: center;
}
.tabla-horarios th {
    background-color: cadetblue;
    color: white;
}
.tabla-horarios tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tabla-horarios tr:hover {
    background-color: #ddd;
}
.tabla-horarios button {
    height: 30px;
    width: 80px;
    margin-top: 10px;
}

#mostrarHorario {
    z-index: 1; /* Un valor mayor que otros elementos si es necesario */
}
.oculto {
    display: none;
}


/*Estilos para mostrar las rutas*/

/* Establece un estilo para el contenedor principal */
#ruta {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
    background-color: #FFF7E7;
}

#central{
    display: flex;
    height: 75%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: #68141C;
    width: 60%;
}

#central button{
    height: 100%;
    width: 3%;
}
#central img{
    height: 100%;
    width: 97%;
}


/**/
#aceptar {
    position: absolute;
    bottom: 3%;
    right: 50%;
    transform: translate(50%,0);
}

#aceptar button{
    position: relative;
    font-size: 1.2em;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    background-color: #68141C;
    color: #fff;
}

#temporal{
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 1;
    
}
#temporal button{
    background-color: #68141C;
    color: #fff;
    font-size: 1.2em;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

/*Botones del cambio de pisos*/
.toggle-button {
    font-size: 1em;
    cursor: pointer;
    
}
.toggle-button.active {
    background-color: #68141C; /* Cambia el color como desees */
    color: #fff;
}