/*Estilos generales*/
*{
    padding: 0px;
    margin: 0px;
}
html{
    min-height: 100%;
}
body{
  flex-direction: column;
  height:100vh;
}
/*Estilos cabecera*/
header{
    height: 10%;
    background-color: royalblue;
}
/*contenedor del header*/
 #cabecera{
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #fff;
 }
/*imagen dentro del header*/
#cabecera img{
    width: 5%;
    left: 15px;
}
/*Estilos del mapa*/
#pantalla_mapa{
width: 100%;
height: 90%;
position: relative;
}
/*Estilos clase buscador*/
.buscador{
    position: absolute;
    z-index: 1;
}
/*Estilos clase botones*/
.botones{
    position: absolute;
    z-index: 1;
}
/*Estilo del boton de cambio de pantalla: mapa-horarios*/
#cambia_horarioMapa{
    bottom: 10px;
    left: 50%;
    width: 100%;
    margin: 0 auto;
}
/*Estilo del navegador de pisos*/
.navegador{
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 50%;
}
/*Estilo de los botones de los pisos*/
.navegador button{
    width: 50px;
    height: 50px;
    display: block;
}
/*Estilo boton salón 105*/
#mostrarInfo{
    position: absolute;
    width: 140px;
    height:140px;
    z-index: 1;
    bottom: 50%;
    left: 23%;
    font-size: 40px;
}
/* Estilo del botón 106 */
#mostrarInfo2 {
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 1;
    bottom: 34.4%;
    left: 23%;
    font-size: 40px;
    margin-top: 10px; /* Espacio entre los botones */
}
/*Estilo del boton Vista Horario*/
#vista_horario{
    background-color: #68141C;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 50px;
    cursor: pointer;
    border-radius: 5px; /* Ajusta el valor para bordes menos redondeados */
    border: 1px solid black;
    position: relative;
    bottom: 55px;
    left: 10%;
    font-size: 100%;
    width: 7%;
    height: 20%;
}
/*Estilo buscador dentro de la pantalla mapa*/
.buscador{
    padding-top: 10px;
    padding-left: 10px;
}
/*Estilo barra de busqueda dentro de buscador*/
.buscador input{
    /* height: 20px;
    padding-left: 10px; */
}
/*Estilos ventana emergente*/
.ventana {
    display: none;
    position: fixed;
    top: 20%;
    left: 20px;
    width: 20%;
    max-height: 70%; /* Altura máxima deseada de la ventana emergente */
    overflow: auto; /* Agrega barras de desplazamiento si es necesario */
    z-index: 1;
    background-color: #ddd;
}
.ventana_horarios {
    background-color: #FFF7E7;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    padding: 20px;
    text-align: center;
}
.cerrar {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 40px; 
}
table {
    width: 100%; 
    font-size: 150%;
    table-layout: fixed; 
}
/* BARRA DE BÚSQUEDA */
#searchResults{
    margin-top: 60px;
    position: absolute;
    z-index: 2;
}
#searchResults li {
    background-color: white;
    padding: 7px 2px 7px 2px;
    list-style-type: none;
    border: 2px solid;
}
#searchResults li:hover {
    background-color: rgb(49, 214, 115);
}
#searchResults a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
table {
    width: 100%; 
    font-size: 100%;/*Antes estaba en 150%*/
    table-layout: fixed; 
}
/*Cabecera info salón*/
.cabecera_salon {
    background-color: #68141C;
    color: white;
    text-align: left;
    padding-left: 10%;
    width: 100%;
    height: 100%;
    font-size: 30px; /* Tamaño de fuente más grande para la cabecera */
}
/* Estilo para la tabla de info de salón */
.tabla_infosalon {
    max-height: 200px; 
    overflow-y: auto; 
    border-collapse: collapse; 
    width: 100%; 
}
/* Añade estilos adicionales a la tabla, si es necesario */
.tabla-horarios table {
    width: 100%;
    border-collapse: collapse;
}
.tabla-horarios th, .tabla-horarios td {
    padding: 8px;
    text-align: center;
}
.tabla-horarios th {
    background-color: cadetblue;
    color: white;
}
.tabla-horarios tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tabla-horarios tr:hover {
    background-color: #ddd;
}
.tabla-horarios button {
    height: 30px;
    width: 80px;
    margin-top: 10px;
}
#mostrarHorario {
    z-index: 1; /* Un valor mayor que otros elementos si es necesario */
}
.oculto {
    display: none;
}
